[Unit]
Description=Libredesk application container
Requires=redis.service postgresql.service

[Container]
ContainerName=libredesk
Image=libredesk/libredesk:latest
Exec=sh -c "./libredesk --install --idempotent-install --yes --config /libredesk/config.toml && ./libredesk --upgrade --yes --config /libredesk/config.toml && ./libredesk --config /libredesk/config.toml"
EnvironmentFile=env/libredesk.env
Volume=libredesk-uploads:/libredesk/uploads
Volume=./config/config.toml:/libredesk/config.toml:Z
DNS=172.16.0.1
Pod=libredesk.pod

[Install]
WantedBy=multi-user.target